<div class="dogShowInfo container">
    <div class="row">
        <div id="sitterProfileTopContent" class="panel panel-default">
            <div class="panel-heading">
                <h2><%= dog.escape('name') %>'s Profile</h2>
            </div>

            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="bs-component">
                            <ul class="list-group">
                                <li class="list-group-item">
                                  <h4 class="list-group-item-heading">Description:</h4>
                                  <p class="list-group-item-text"><%= dog.escape('description') %></p>
                                </li>

                                <li class="list-group-item">
                                    <span class="badge"><%= dog.escape('age') %></span>
                                    <h4 class="list-group-item-heading">Age:</h4>
                                </li>

                                <li class="list-group-item">
                                    <span class="badge"><%= dog.escape('size') %></span>
                                    <h4 class="list-group-item-heading">Size:</h4>
                                </li>
                            </ul>
                          </div>

                    </div>

                    <div class="col-md-6">

                        <div id="dogPrivateRightContent">
                          <div class="dogShowPrivatePic panel panel-default col-md-8 col-md-offset-2">
                                <div id="profileImage">
                                    <img class="img-responsive img-portfolio" src="<%= dog.get('dog_photo_large') %>">
                                </div>
                          </div>
                        </div>
                    </div>

                    <div class="col-md-8 col-md-offset-7">
                        <span class="sitterProfileButtons">
                          <button class="btn btn-primary editSitterInfo" data-id="1">Edit Dog Information </button>
                          <button class="removeSitterAccount btn btn-danger">Remove Dog</button>
                        </span>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
