<div class="dogBooking">
    <div class="row">
        <div class="col-sm-2">
            <div class="thumbnail">
                <img class="img-responsive user-photo" src="<%= sitter.get('sitter_photo_small') %>">
            </div><!-- /thumbnail -->
        </div><!-- /col-sm-1 -->

        <div class="col-sm-10">
            <div class="">
                <div class="">
                    <h4>Sitter Name: <a href="#/sitters/<%= sitter.get('id') %>"><%= sitter.get('sitter_name') %></a> </h4>
                </div>
                <div class="">
                    <table class="table table-striped">
                      <tr>
                        <td>Date Start:</td>
                        <td>Date End:</td>
                        <td>Status:</td>
                        <td>Price/Night:</td>
                      </tr>
                      <tr>
                        <td><%= booking.escape('date_start') %> </td>
                        <td><%= booking.escape('date_end') %> </td>
                        <td>
                          <% if (booking.get('confirmed')) { %>
                            <span style="color:#3EFF1F">Confirmed</span>
                          <% }else { %>
                            <span style="color:#FFD822">Pending</span>
                          <% }%>
                        </td>
                        <td>
                          $<%= sitter.get('price') %>
                        </td>
                      </tr>
                    </table>

                    <% if (booking.get('confirmed')) { %>
                      <h4>Address:</h4>
                      <div class="sitterAddress">
                        <%= sitter.escape('street_address') %>
                        <%= sitter.escape('city') %>, <%= sitter.escape('state') %>
                        <%= sitter.escape('zipcode') %>
                      </div>
                    <%  } %>
                </div><!-- /panel-body -->
            </div><!-- /panel panel-default -->
        </div><!-- /col-sm-10 -->
    </div><!-- /row -->
</div><!-- /container -->
