<div class="navbarContainer">
</div>

<div class="row">
    <div class="col-xl-10 offset-xl-1">
        <div id="newBookingForm" class="card">
            <div class="card-header">
                <strong>New Booking</strong>
            </div>
            <div class="card-body">
                <form>
                    <div class="form-row">
                        <div class="col">
                            <div class="form-group">
                              <label for="dateStart" class="col-lg-2 control-label">Date Start:</label>
                              <div class="col-lg-10">
                                <input type="text"
                                      class="form-control datepicker"
                                      id="dateStart"
                                      name="date_start"
                                      placeholder="Date Start"
                                      value="<%= booking.escape('date_start') %>">
                              </div>
                            </div>

                            <div class="form-group">
                              <label for="dateEnd" class="col-lg-2 control-label">Date End:</label>
                              <div class="col-lg-10">
                                <input type="text"
                                      class="form-control"
                                      id="dateEnd"
                                      name="date_end"
                                      placeholder="Date End"
                                      value="<%= booking.escape('name') %>">
                              </div>
                            </div>
                            <% if (dogs.length > 0) { %>
                                <div class="form-group">
                                    <label for="dogSelect">Choose which dog you would like to book this stay for:</label>
                                    <select name="dog_id" id="dogSelect">
                                      <% dogs.each(function(dog){ %>
                                          <option value="<%= dog.escape('id') %>"><%= dog.escape('name') %></option>
                                      <%  });  %>
                                    </select>
                                </div>

                            <% } %>

                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <div class="form-group">
                              <label for="bookingMessage" class="col-lg-2 control-label">Message/Comments:</label>
                              <div class="col-lg-10">
                                <textarea class="form-control"
                                          rows="3"
                                          id="bookingMessage"
                                          name="message"
                                          value="<%= booking.escape('message') %>">
                                </textarea>
                              </div>
                            </div>
                        </div>
                    </div>
                    <% if (dogs.length < 1) { %>
                        <div class="">
                            It looks like you haven't added any dogs yet...
                        </div>
                        <button type="button" id="addDogBtn" class="btn btn-link"><i class="fa fa-plus"></i>&nbsp; Add a dog</button>
                    <% } else { %>

                    <input type="submit" class="btn btn-success" id="submitBooking" value="Request Booking!">
                    <% } %>

                </form>
            </div>
        </div>
    </div>
</div>


<script>
$(document).ready(function(){

    $("#dateStart").datepicker({
        maxViewMode: 0,
        todayHighlight: true
    });
    $("#dateEnd").datepicker({
        maxViewMode: 0,
        todayHighlight: true
    });
});
</script>
