<div class="navbarContainer">
</div>

<div class="row">
    <div class="col-xl-10 offset-xl-1">
        <div id="newBookingForm" class="card">
            <div class="card-header">
                <strong>New Booking</strong>
            </div>
            <div class="card-body">
                <form>
                    <div class="form-row">
                        <div class="col">
                            <div class="form-group">
                              <label for="dateStart" class="col-lg-2 control-label">Date Start:</label>
                              <div class="col-lg-10">
                                <input type="text"
                                      class="form-control"
                                      id="dateStart"
                                      name="date_start"
                                      placeholder="Date Start"
                                      value="<%= booking.escape('date_start') %>">
                              </div>
                            </div>

                            <div class="form-group">
                              <label for="dateEnd" class="col-lg-2 control-label">Date Start:</label>
                              <div class="col-lg-10">
                                <input type="text"
                                      class="form-control"
                                      id="dateEnd"
                                      name="date_end"
                                      placeholder="Date End"
                                      value="<%= booking.escape('name') %>">
                              </div>
                            </div>
                            <div class="form-group">
                                <label for="dogSelect">Choose which dog you would like to book this stay for:</label>
                                <select name="dog_id" id="dogSelect">
                                  <% dogs.each(function(dog){ %>
                                      <option value="<%= dog.escape('id') %>"><%= dog.escape('name') %></option>
                                  <%  });  %>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <div class="form-group">
                              <label for="bookingMessage" class="col-lg-2 control-label">Message/Comments:</label>
                              <div class="col-lg-10">
                                <textarea class="form-control"
                                          rows="3"
                                          id="bookingMessage"
                                          name="message"
                                          value="<%= booking.escape('message') %>">
                                </textarea>
                              </div>
                            </div>
                        </div>
                    </div>

                    <input type="submit" class="btn btn-success" id="submitBooking" value="Request Booking!">
                </form>
            </div>
        </div>
    </div>
</div>


<script>
 $(function() {
    $("#dateStart").datepicker();
    $("#dateEnd").datepicker();
  });
</script>
