<div id="newSitterForm" class="card">
    <div class="card-header">
        <strong>Enter Sitter Information</strong>
        <small>Form</small>
    </div>
    <div class="card-body">
        <form>
            <div class="form-row">
                <div class="col">
                    <div class="form-group">
                        <label for="sitter_name" class="col-form-label">Sitter Profile Name:</label>
                        <input type="text"
                        class="form-control"
                        id="sitter_name"
                        placeholder="Profile Name"
                        name="sitter_name" />
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="textArea" class="col-form-label">Description:</label>
                        <textarea class="form-control"
                        name="description"
                        id="sitterDescription"><%= sitter.escape('description') %>
                        </textarea>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    <label for="sitterPrice" class="col-form-label">Price Per Night:</label>
                    <input type="text"
                    class="form-control"
                    id="sitterPrice"
                    placeholder="Price Per Night"
                    name="price"
                    value="<%= sitter.escape('sitter_name') %>">
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="sizeInput" class="col-form-label">Able to Sit Dogs of Size:</label>
                        <div class="col-lg-10">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" <%= (sitter.get('small') === true) ? 'checked' : '' %>
                                    class = "checkbox"
                                    name="small"
                                    value="true" \> Small
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" <%= (sitter.get('medium') === true) ? 'checked' : '' %>
                                    class = "checkbox"
                                    name="medium"
                                    value="true" \> Medium
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" <%= (sitter.get('large') === true) ? 'checked' : '' %>
                                    class = "checkbox"
                                    name="large"
                                    value="true" \> Large
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="col">
                    <div class="form-group">
                        <label for="sitterAddress" class="col-form-label">Street Address:</label>
                        <div class="col-lg-10">
                            <input type="text"
                            class="form-control"
                            id="sitterAddress"
                            placeholder="Address"
                            name="street_address"
                            value="<%= sitter.escape('street_address') %>">
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="col">
                    <div class="form-group">
                        <label for="sitterCity" class="col-form-label">City:</label>
                        <div class="col-lg-10">
                            <input type="text"
                            class="form-control"
                            id="sitterCity"
                            placeholder="City"
                            name="city"
                            value="<%= sitter.escape('city') %>">
                        </div>
                    </div>

                </div>

                <div class="col">
                    <div class="form-group">
                        <label for="sitterState" class="col-form-label">State:</label>
                        <div class="col-lg-10">
                            <input type="text"
                            class="form-control"
                            id="sitterState"
                            placeholder="State"
                            name="state"
                            value="<%= sitter.escape('state') %>">
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="form-group">
                        <label for="sitterZip" class="col-form-label">Zipcode:</label>
                        <div class="col-lg-10">
                            <input type="text"
                            class="form-control"
                            id="sitterZip"
                            placeholder="Zipcode"
                            name="zipcode"
                            value="<%= sitter.escape('zipcode') %>">
                        </div>
                    </div>
                </div>
            </div>


        <% if (!sitter.get('sitter_photo')) { %>
            <div class="form-row">
                <div class="form-group">
                    <label for="addSitterPic" class="col-form-label">Change Sitter Profile Picture:</label>
                    <div class="col-lg-10">
                        <input type="file"
                        id="addSitterPic">
                    </div>
                </div>
            </div>
        <% }else { %>
            <div class="form-row">
                <div class="form-group">

                    <label for="addSitterPic">Add A Sitter Profile Picture:</label>
                    <br>
                    <input
                    type="file"
                    name="sitter_photo"
                    id="addSitterPic">
                </div>
            </div>

        <% } %>

            <div class="form-row">
                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <% if (sitter.get('id')) { %>
                            <input type='submit' class='addSubmit btn btn-success' value="Update Information">
                        <% }else { %>
                            <input type='submit' class='addSubmit btn btn-success' value="Create Sitter Profile!">
                        <% } %>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
