<div class="">
    <div class="">
        <div id="newSitterForm" class="well bs-component">
                      <form class="form-horizontal">
                        <fieldset>
                          <legend>
                              <% if (sitter.get('id')) { %>
                                  Edit Sitter Information
                              <% } else { %>
                                  Enter Your Information To Become A Sitter!
                              <% } %>
                          </legend>
                          <div class="form-group">
                            <label for="sitter_name" class="col-lg-2 control-label">Sitter Profile Name:</label>
                            <div class="col-lg-10">
                              <input type="text"
                                    class="form-control"
                                    id="sitter_name"
                                    placeholder="Profile Name"
                                    value="<%= sitter.escape('sitter_name') %>">
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="sitterPrice" class="col-lg-2 control-label">Price Per Night:</label>
                            <div class="col-lg-10">
                              <input type="text"
                                    class="form-control"
                                    id="sitterPrice"
                                    placeholder="Price Per Night"
                                    value="<%= sitter.escape('sitter_name') %>">
                            </div>
                          </div>

                          <div class="form-group">
                            <label for="textArea" class="col-lg-2 control-label">Description:</label>
                            <div class="col-lg-10">
                              <textarea class="form-control" rows="3" id="sitterDescription"><%= sitter.escape('description') %>
                              </textarea>
                            </div>
                          </div>


                          <div class="form-group">
                            <label for="inputPassword" class="col-lg-2 control-label">Able to Sit Dogs of Size:</label>
                            <div class="col-lg-10">
                              <div class="checkbox">
                                <label>
                                  <input type="checkbox" <%= (sitter.get('small') === true) ? 'checked' : '' %>
                                  class = "checkbox"
                                  name="large"
                                  value="true" \> Small
                                </label>
                              </div>
                              <div class="checkbox">
                                <label>
                                  <input type="checkbox" <%= (sitter.get('medium') === true) ? 'checked' : '' %>
                                  class = "checkbox"
                                  name="large"
                                  value="true" \> Medium
                                </label>
                              </div>
                              <div class="checkbox">
                                <label>
                                  <input type="checkbox" <%= (sitter.get('large') === true) ? 'checked' : '' %>
                                  class = "checkbox"
                                  name="large"
                                  value="true" \> Large
                                </label>
                              </div>
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="sitterAddress" class="col-lg-2 control-label">Street Address:</label>
                            <div class="col-lg-10">
                              <input type="text"
                                    class="form-control"
                                    id="sitterAddress"
                                    placeholder="Address"
                                    value="<%= sitter.escape('street_address') %>">
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="sitterCity" class="col-lg-2 control-label">City:</label>
                            <div class="col-lg-10">
                              <input type="text"
                                    class="form-control"
                                    id="sitterCity"
                                    placeholder="City"
                                    value="<%= sitter.escape('city') %>">
                            </div>
                          </div>

                          <div class="form-group">
                            <label for="sitterZip" class="col-lg-2 control-label">Zipcode:</label>
                            <div class="col-lg-10">
                              <input type="text"
                                    class="form-control"
                                    id="sitterZip"
                                    placeholder="Zipcode"
                                    value="<%= sitter.escape('zipcode') %>">
                            </div>
                          </div>


                          <% if (!sitter.get('sitter_photo')) { %>

                              <div class="form-group">
                                <label for="addSitterPic" class="col-lg-2 control-label">Change Sitter Profile Picture:</label>
                                <div class="col-lg-10">
                                  <input type="file"
                                        id="addSitterPic">
                                </div>
                              </div>
                          <% }else { %>

                            <label for="addSitterPic">Add A Sitter Profile Picture:</label>
                            <br>
                            <input
                              type="file"
                              name="sitter_photo"
                              id="addSitterPic">

                          <% } %>
                          <div class="form-group">
                            <div class="col-lg-10 col-lg-offset-2">
                                <% if (sitter.get('id')) { %>
                                  <input type='submit' class='addSubmit btn btn-success' value="Update Information">
                                <% }else { %>
                                  <input type='submit' class='addSubmit btn btn-success' value="Create Sitter Profile!">
                                <% } %>
                            </div>
                          </div>
                        </fieldset>
                      </form>
                    <div id="source-button" class="btn btn-primary btn-xs" style="display: none;">&lt; &gt;</div></div>


    </div>
</div>
