<div class="navbarContainer">
</div>
<div class="app-body">

    <!-- Main content -->
        <main class="main">

          <!-- Breadcrumb -->
          <ol class="breadcrumb">
            <li class="breadcrumb-item">Home</li>
            <!-- Breadcrumb Menu-->
            <li class="breadcrumb-item active">Sitter</li>

          </ol>


        <div class="sitterProfileShowInfo">
            <div id="sitterProfileTopContent" class="">
                <div class="row">
                    <div class="col-xl-5 offset-xl-1">
                        <div id="" class="card">
                            <div class="card-header">
                                <h2><%= sitter.escape('sitter_name') %></h2>
                            </div>

                            <div class="card-body">
                                <table class="table table-responsive-sm">
                                    <tbody>
                                    <tr>
                                    <td>Price per night</td>
                                    <td></td>
                                    <td></td>
                                    <td>
                                    <span class="badge badge-success">$<%= sitter.escape('price') %></span>
                                    </td>
                                    </tr>
                                    <tr>
                                    <td>Accepts Small Dogs?</td>
                                    <td></td>
                                    <td></td>
                                    <td>
                                    <span class="badge badge-success"><%= (sitter.escape('small')) ? "✓" : "✖" %></span>
                                    </td>
                                    </tr>
                                    <tr>
                                    <td>Accepts Medium Dogs?</td>
                                    <td></td>
                                    <td></td>
                                    <td>
                                    <span class="badge badge-success"><%= (sitter.escape('medium')) ? "✓" : "✖" %></span>
                                    </td>
                                    </tr>
                                    <tr>
                                    <td>Accepts Large Dogs?</td>
                                    <td></td>
                                    <td></td>
                                    <td>
                                    <span class="badge badge-success"><%= (sitter.escape('large')) ? "✓" : "✖" %></span>
                                    </td>
                                    </tr>
                                    </tbody>
                                </table>


                                <div class="card">
                                    <div class="card-header" role="tab" id="headingOne">
                                        <h5 class="mb-0">
                                        Description:
                                        </h5>
                                    </div>
                                    <div id="collapseOne" class="" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion" style="">
                                        <div class="card-body">
                                         <%= sitter.escape('description') %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col-xl-5">
                        <div class="card">
                            <div class="card-body">
                                <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                                    <div class="carousel-inner">
                                        <div class="carousel-item active">
                                            <img class="d-block w-100" data-src="<%= sitter.escape('sitter_photo_large') %>&amp;bg=777&amp;fg=555&amp;text=First slide" alt="First slide [800x400]" src="<%= sitter.escape('sitter_photo_large') %>" data-holder-rendered="true">
                                        </div>
                                    </div>
                                </div>

                                <br/>

                                <div class="row">
                                    <div class="offset-xl-3">
                                        <button class="btn btn-success bookNow" data-id="<%= sitter.escape('id') %>">Book</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br/>

                <div class="row">
                    <div class="col-xl-5 offset-xl-1">
                        <div class="card">
                            <div class="card-header">
                                <h4>Reviews:</h4>
                            </div>
                            <div class="card-body">
                                <div class="noReviewMsg">

                                </div>
                                <ul class="profileComments list-group">
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
