<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Canine Care Application">
  <meta name="author" content="Peter Bardon">
  <meta name="keyword" content="dogsitting">
  <!-- <link rel="shortcut icon" href="assets/ico/favicon.png"> -->

  <title>Canine Care</title>
  <%= stylesheet_link_tag 'application' %>

  <%= csrf_meta_tags %>
</head>

<body id="canineCareApp" class="flex-row align-items-center">
    <%= render partial: "layouts/header" %>
    <%= yield %>
    <%= render partial: "layouts/footer" %>
    <script> type="text/javascript"
       src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['MAPS_API_KEY']%>"
    </script>
    <%= javascript_include_tag 'application' %>

    <script language="javascript" type="text/javascript" charset="utf-8">
        (function () {
            $(document).ready(function(){
                CanineCareApp.initialize('<%= form_auth_token %>',
                    '<%= ENV['MAPS_API_KEY']%>',
                    '<%= current_user ? current_user.id : nil %>',
                    '<%= session[:session_token] %>');
                $('.carousel').carousel({
                    interval: 5000 //changes the speed
                });
                CanineCareApp.setFormAuthToken = '<%= form_auth_token %>';
            });
        })();
    </script>
</body>

</html>
